button {
    border: 0;
    padding: .8em 1.5rem;
    border-radius: 10px;
    font-weight: 700;
}

.btn-color {
    background-color: $bright_blue;
    color: white;

    &:hover {
        background-color: lighten($color: $bright_blue, $amount: 20%);
    }
}

.btn-empty {
    background-color: transparent;
    color: $desaturated_blue;

    &:hover {
        color: $dark_blue;
    }
}